/*======================================================================
    MIXINS & EXTENDS
======================================================================*/
@import '../node_modules/stylus-reset'
@import '../node_modules/stylus-media-queries'
@import '../node_modules/brindille-stylus-extends'

/*======================================================================
    BASE
======================================================================*/
reset()
@import 'config/*'

html,
body
  @extends .full-size

body
  position relative
  margin 0
  color white
  // color #f0f0d8
  overflow hidden
  background url('../assets/backgrounds/bg-4.jpg')
  background-size cover
  background-position 50% 50%
  background-repeat no-repeat

#symbols
  display none

.hidden
  visibility hidden

a
  text-decoration none

/*======================================================================
    COMPONENTS
======================================================================*/
.color-picker
.pattern-picker
  position relative

  div
    position relative
    display inline-block
    width 40px
    height 40px
    border-radius 50%
    cursor pointer
    margin-right 15px
    border 2px solid #f0f0d8
    opacity 0.5
    transition opacity 0.4s
    overflow hidden
    cursor pointer
    backface-visibility hidden

    &:after
      content ''
      position absolute
      top 45%
      left 0
      width 200%
      height 8px
      display block
      background white
      opacity 0.8
      transform translateY(-50%) translateX(-100%) rotate(-45deg)
      transition transform 0.5s

    &:hover
    &.selected
      opacity 1
    &:hover:after
      transform translateY(-50%) translateX(100%) rotate(-45deg)

    &.selected:after
      display none

    img
      cursor pointer
      width 90%

.pattern-picker div
  background-color #888

.button
  @extends .font-test
  font-weight 900
  border-radius 5px
  padding 17px 28px
  font-size 1.3em
  text-decoration none
  margin-top 15%
  color #fff
  position relative
  cursor pointer
  display inline-block
  background-color #437600
  box-shadow 0px 5px 0px 0px #2d5000
  transition background-color 0.4s

  &:hover
    background-color #64b000

  &:active
    transform translate(0px, 5px)
    box-shadow 0px 1px 0px 0px


/*======================================================================
    LOADER
======================================================================*/
.loader
  @extends .full-size
  color white
  background #a70006
  position absolute
  top 0
  left 0
  z-index 5
  text-align center
  transform-origin left center

  &-content
    position relative
    top 50%
    transform translateY(-50%)

  h1
    @extends .font-title
    font-size 5em

  p
    @extends .font-default
    font-size 2em

  #snowball
    width 110px
    fill white
    margin-top 80px
    margin-bottom 30px

    circle
      position relative
      opacity 0

/*======================================================================
    HOME
======================================================================*/
.content
  text-align center
  position absolute
  top 0
  left 0
  width 32%
  height 100%
  background #a70006
  box-shadow 5px 0 15px #262626
  overflow hidden

.content-container
  position relative
  top 42%
  transform translateY(-50%)

.title
  @extends .font-title
  position absolute
  font-size 5em
  width 100%
  top 120px


.picker
  margin-top 8%

  p
    @extends .font-default
    font-size 2.4em
    margin-bottom 15px

/*======================================================================
    MEDIA QUERIES
======================================================================*/
+max-screen(1400px)
  .content-container
    top 45%

  .picker
    margin-top 8%

    p
      font-size 1.8em

  .color-picker
  .pattern-picker
    div
      width 30px
      height 30px

  .button
    margin-top 12%
    font-size 1em

+max-screen(1200px)
  .content
    overflow-y auto

  .content-container
    margin 30px 0
    top 0
    transform none

+max-screen-height(640px)
  .content
    overflow-y auto

  .content-container
    margin 30px 0
    top 0
    transform none